@{
  Layout = "_Layout";
}

@using BakeryAuth.ViewModels

@model LoginViewModel
<div class="text-center w-25 m-auto">
  <h2>Log in with your account</h2>
  <hr />

  @if(!ViewData.ModelState.IsValid) 
  {
    @Html.ValidationSummary("Please fix the following error(s) and then resubmit the form:") 
  }

  @using (Html.BeginForm())
  {
    <label for="Email">Email</label>
    <input class="form-control" type="text" name="Email" id="Email" required>
    <br>
    <label for="Password">Password</label>
    <input class="form-control" type="password" name="Password" id="Password" required>
    <button type="submit" class="btn btn-primary my-4">Login</button>
  }

  <p>@Html.ActionLink("Register for an account", "Register")</p>
  <p>@Html.ActionLink("Home", "Index", "Home")</p>
</div>
