@{
  Layout = "_Layout";
}

@using BakeryAuth.ViewModels

@model RegisterViewModel

<div class="text-center w-25 m-auto">
  <h2>Register a new user</h2>
  <hr />

  @if(!ViewData.ModelState.IsValid) 
  {
    @Html.ValidationSummary("Please fix the following error(s) and then resubmit the form:") 
  }

  @using (Html.BeginForm("Register", "Account", FormMethod.Post))
  {
    <label for="Email">Email</label>
    <input class="form-control" type="text" name="Email" id="Email" required>
    <br>
    <label for="Password">Password</label>
    <input class="form-control" type="password" name="Password" id="Password" required>
    <label for="ConfirmPassword">Confirm Password</label>
    <input class="form-control" type="password" name="ConfirmPassword" id="ConfirmPassword" required>
    <button type="submit" class="btn btn-primary my-4">Register</button>
  }

  <p>@Html.ActionLink("Home", "Index", "Home")</p>
</div>
