@{
  Layout = "_Layout";
}

<h1>Welcome to the best restaurants app!</h1>

<p>@Html.ActionLink("See all cuisines", "Index", "Cuisines")</p>
<p>@Html.ActionLink("Add a new cuisine", "Create", "Cuisines")</p>