@using Microsoft.AspNetCore.Components
@using waffle.Models

<a href="/person">Cancel</a>
<AutoForm actionPath="/person/update/" title="Update Person" inputs=@(new Testing(dude).personInputs) />

@code {
    public class Testing {
      public People dude {get; set;}
      public string name {get; set;}
      public string[] nameArray {get; set;}
      public string bday {get; set;}
      public string[] bdayArray {get; set;}
      
      public List<(string, string[])> personInputs {get; set;}
      public Testing(People dude) {
          this.name = dude.name;
          this.nameArray = new string[]{"name", name};
          this.bday = dude.birthday;
          this.bdayArray = new string[]{"birthday", bday};
         this.personInputs = new List<(string, string[])>{
        ("text", nameArray),
        ("text", bdayArray)
      };
      }
    }
    [Parameter]
    public People dude {get; set;} = new People();
}