# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"

# Next Auth Spotify Provider
SPOTIFY_ID=""
SPOTIFY_SECRET=""

# Email magic login
NEXT_PUBLIC_MAGIC_KEY=""
MAGIC_SECRET=""

# TicketMaster api
NEXT_PUBLIC_TICKET_KEY=""
TICKET_SECRET=""

# Firestore keys
NEXT_PUBLIC_FIREBASE_API_KEY=""
NEXT_PUBLIC_FIREBASE_AUTH_URL=""
NEXT_PUBLIC_FIREBASE_PROJECT_ID=""
NEXT_PUBLIC_FIREBASE_BUCKET=""
NEXT_PUBLIC_FIREBASE_SENDER_ID=""
NEXT_PUBLIC_FIREBASE_APP_ID=""