body {
  background-image: url("https://media.istockphoto.com/id/103975925/vector/doctors-office-with-medical-equipment-and-cabinets-illustration.jpg?s=612x612&w=0&k=20&c=O584gyMrl0ZGMAKM3p2sn22-HOUpGMa_Yjgbl01rQIw=");
  background-repeat: no-repeat;
  background-size: 100%;
}